*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.label{
  padding: 10px;
  font-size: 18px;
  color: black;
}
.copy-text{
  position: relative;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}
.copy-text input.text{
  padding: 10px;
  font-size: 18px;
  color: #555;
  border: none;
  outline: none;
}
.copy-text button{
  padding: 10px;
  background: #5784f5;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.copy-text button:active {
  background: #809ce2;
}
.copy-text button:before {
  content: "copied";
  position: absolute;
  top: -50px;
  right: 0px;
  background: #5c81dc;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}
.copy-text button:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
}
.copy-text.active button:before,
.copy-text.active button:after{
  display: block;
}
.section__com {
  padding-top: 120px;
  padding-bottom: 80px;
  border-bottom: 1px solid #292831;
  background-color: #1c1b24;
}

.com-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.adress-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 27px 30px 27px 34px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 16px;
  background-color: #18171f;
}

.adress-left {
  position: relative;
  overflow: hidden;
  max-width: 388px;
}

.adress--txt {
  color: #fff;
}

.adress-hider {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(22%, #18171f), to(rgba(24, 23, 31, 0)));
  background-image: linear-gradient(270deg, #18171f 22%, rgba(24, 23, 31, 0));
}

.cta-copy {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 17px 32px 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 200px;
  background-image: linear-gradient(84deg, #f28b03, #f06500);
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  color: #fff;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.cta-copy:hover {
  box-shadow: 0 4px 22px 0 rgba(240, 5, 0, 0.25);
}

.cta-copied-txt {
  position: relative;
  z-index: 4;
}

.cta-copied-box {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 200px;
  background-color: #0f9713;
  opacity: 0;
}